<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Poiret+One|Bungee+Inline|Fredericka+the+Great|Boogaloo|Poppins|Palanquin+Dark" rel="stylesheet">
    <title>@ViewBag.Title | WoofDays</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        function open_chatbox() {
            $('#pug-helper').fadeOut("fast");
            $('#chatBox').fadeIn("fast");
        }
        function closeChat() {
            $('#chatBox').fadeOut("fast");
            $('#pug-helper').fadeIn("fast");
        }
    </script>


</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                    @Html.ActionLink("WoofDays", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Request.IsAuthenticated) { 
                    <li>@Html.ActionLink("Dog", "Index", "Dogs")</li>
                    <li>@Html.ActionLink("Breed", "Index", "Breeds")</li>
                    }
                </ul>
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    
    <div id="qustions" onClick="open_chatbox()">
        <img id="pug-helper" src="~/Content/Pictures/pug-chat.png" alt="Questions" />
    </div>

    
    <div id="chatBox">
        <div id="chat-box-bar">
            <div id="pug-helper-title"> Pug Helper</div>
            <div onclick="closeChat()" id="close">X</div>
        </div> 
        Chat Chat Chat
    </div>

    <div class="index-background">
        @RenderSection("BackgroundImage", required: false)
    </div>

    <div class="index-image-two">
        @RenderSection("IndexImageTwo", required: false)
    </div>

    <div class="happy-pup-block">
        @RenderSection("PupCutOut", required: false)
    </div>

    <div class="birthday-pup-examples">
        @RenderSection("HappyBirthdayPup", required: false)
    </div>

    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year WoofDays. All Rights Reserved.</p>
        </footer>
    </div>

    

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
